@import "/photo-frame/styles/reset.css";
@import "/photo-frame/styles/units.css";



.container {
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}   


.outer-frame {
    background-color: var(--outer-color);
    padding: var(--outer-width);
    box-shadow:
        var(--shadow-length)
        var(--shadow-length)
        10px darkgrey;
}

.inner-frame {
    background-color: var(--inner-color);
    padding: var(--inner-width);
}

.frame-grid {
    display: grid;
    background-color: var(--inner-color);

    grid-template-columns:
        repeat(2, var(--unit-width))
        var(--unit-diff)
        repeat(3, var(--unit-width))
        var(--unit-diff)
        var(--unit-width);

    grid-template-rows:
        var(--unit-width)
        var(--unit-diff)
        var(--unit-width);

    gap: var(--unit-gap);
}

.item {
    background-color: #a08148;
    box-shadow:
        var(--shadow-length)
        var(--shadow-length)
        10px #554526 inset;

    & > img {
        width: 100%;
        height: 100%;
        z-index: 0;
    }
}

img[popover] {
    cursor: pointer;
    height: 80vh;
    outline: none;
    border: 0;
    padding: 0;
}

[popover]:-internal-popover-in-top-layer::backdrop {
    backdrop-filter: blur(calc(var(--unit-gap)/10));
    background-color: rgba(0,0,0,.05);
}


#ap-1 {
    grid-area: 1 / 1 / span 1 / span 1;

    & > img {
        object-fit: cover;
    }
}
#ap-2 {
    grid-area: 1 / 2 / span 2 / span 1;
    
    & > img {
        object-fit: cover;
    }
}
#ap-3 {
    grid-area: 1 / 3 / span 1 / span 2;
}
#ap-4 {
    grid-area: 1 / 5 / span 2 / span 1;

    & > img {
        object-fit: cover;
    }
}
#ap-5 {
    grid-area: 1 / 6 / span 1 / span 2;
}
#ap-6 {
    grid-area: 1 / 8 / span 2 / span 1;
}
#ap-7 {
    grid-area: 2 / 1 / span 2 / span 1;
}
#ap-8 {
    grid-area: 3 / 2 / span 1 / span 2;
}
#ap-9 {
    grid-area: 2 / 4 / span 2 / span 1;
}
#ap-10 {
    grid-area: 3 / 5 / span 1 / span 1;
    & > img {
        object-fit: cover;
    }
}
#ap-11 {
    grid-area: 2 / 6 / span 2 / span 1;
}
#ap-12 {
    grid-area: 3 / 7 / span 1 / span 2;
}

