html {
    --primary-text-color: rgb(255, 235, 200);
    --secondary-text-color: rgb(255, 245, 225);
    --contrast-text-color: rgb(224, 127, 0);
    --primary-shadow-color: rgba(150, 140, 120, 1);
}

a:link {
    text-decoration: none;
}

body {
    height: 100vh;
    margin: 0;
    min-width: 340px;
    font-family: sans-serif;
    font-weight: 300;
    background-color: black;
} body::-webkit-scrollbar {
    display: none;
}

.ftg {
    /* Name is an abbreviaton of the font-family */
    font-family: "Fredericka the Great", serif;
    font-weight: 400;
    font-style: normal;
    color: var(--primary-text-color);
}
.cbyg {
    font-family: "Covered by your Grace", cursive;
    font-weight: 400;
    font-style: normal;
    color: var(--primary-text-color);
}

.page {
    display: flex;
    flex-direction: column;
}

.title-page-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 98vh;
}

.bg-image {
    position: absolute;
    background-image: url("./images/kitchen-landscape.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    z-index: -1;

    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}

.title-page-contents {
    width: 60%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 30px;

    padding-block: 400px;
}

.chopping-board {
    
    background-image: url("images/chopping-board.jpg");
    background-size: cover;
    background-position: center;
    box-shadow: 0 0 20px rgb(0, 0, 0);
    border-radius: 5px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    box-sizing: border-box;
    width: 800px;
    padding: 30px;

    z-index: 2;
}

.sub-heading {
    font-size: 2rem;
    color: rgba(255, 235, 200, 0.8);
}
.heading {
    font-size: 4rem;
    color: var(--primary-text-color);
    text-wrap: nowrap;
    width: min-content;
}

.searchbar {
    display: inline-flex;
    justify-content: center;
    z-index: 0;
    flex-basis: 50px;
    gap: 10px
} .searchbar input {
    padding-inline: 20px;
    font-size: large;
    font-weight: 100;
    color: var(--secondary-text-color);
    border-radius: 7px;
    padding: 10px 20px 10px 20px;
}

#recipe-search {
    background-color: transparent;
    outline: 1px solid var(--primary-text-color);
    border: none;
    z-index: 0;
} #recipe-search:hover {
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 2px 5px inset rgba(0, 0, 0, 1);
    z-index: inherit;
    transition: background-color .2s, box-shadow .2s;
} #recipe-search:active {
    background-color: rgba(255, 255, 255, 0.315);
}

.btn-submit {
    background-color: transparent;
    outline: 1px solid var(--primary-text-color);
    color: var(--primary-text-color);
    border: none;
} .btn-submit:hover {
    box-shadow: 0 2px 5px inset rgba(0, 0, 0, 1);
    background-color: rgba(255, 255, 255, 0.1);
    cursor: pointer;
    transition: background-color .2s, box-shadow .2s;
}


#title-border {
    height: 0;
    width: 100%;
    pointer-events: none;
    z-index: 1;
} #title-svg-wrapper {
    position: relative;
    top: -84.3px;
    height: 86.3px; /** just the height of the path */
}


.recipes-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    background-color: var(--primary-text-color);
    height: min-content;
    width: 100%;
    z-index: 1;
}
.recipes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;

    padding-block: 50px;
    width: 80%;
    height: min-content;
}
.recipe-link:hover > .recipe-card {
    box-shadow: none;
    position: relative;
    translate: 0 5px;
    transition: translate .3s, box-shadow .3s;
    
}
.recipe-link:hover > .recipe-card > .recipe-title {
    text-shadow: 0px 0px 1px black      ;
    text-decoration: underline;
}

.recipe-card {
    background-color: var(--secondary-text-color);
    border-radius: 20px;
    border: 5px solid var(--contrast-text-color);

    box-shadow: 0 10px 15px var(--primary-shadow-color);
    padding: 15px;
    width: 220px;

    display: flex;
    flex-direction: column;
    align-items: center;
    transition: translate .5s, box-shadow .5s;
}
.recipe-image {
    height: 200px;
    border-radius: 20px;
}
.recipe-title {
    margin: 0;
    font-size: 2rem;
    border-radius: 5px;

    text-align: center;
    font-family: "Covered by your Grace", cursive;
    font-weight: 400;
    font-style: normal;
    color: var(--contrast-text-color);
}

#creamy-chicken-pasta {

}


/* 4k Monitor */
@media only screen and (max-width: 2560px) {

}

/* Laptop L */
@media only screen and (max-width: 1440px) {
    
}

/* Laptop */
@media only screen and (max-width: 1024px) {
    .title-page-container {
        transition: height 1s;
    }
    .title-page-contents {
        width: 70%;
    }
    .chopping-board {
        width: 600px;
    }
}

@media only screen and (width: 768px) {
    .title-page-container {
        transition: padding-block 1s;
    }
}

/* Tablet */
@media only screen and (max-width: 768px) {
    .title-page-container {
        height: 60vh;

        transition: height 1s;
    }
    .title-page-contents {
        width: 70%;
        min-width: calc(.8*425px);
        padding-block: 10vw;

        transition: width 1s;
    }
    .chopping-board {
        padding-inline: 10px;
    }
    .heading {
        text-wrap: pretty;
    }
    .bg-image {
        background-image: url("images/kitchen-portrait.jpg");
    }
}

/* Mobile XL */
@media only screen and (max-width: 499px) {
    .title-page-contents {
        width: 80%;
        min-width: calc(.95*375px);
    }
    #title-svg-wrapper {
        top: -48px;
        height: 50px;
        /*TODO transition: height 2s; */ 
    }
}

/* Mobile L */
@media only screen and (max-width: 425px) {
    
}

/* Mobile M */
@media only screen and (max-width: 375px) {
    .title-page-contents {
        width: 95%;
        min-width: none;
    }
    .searchbar {
        display: flex;
        flex-direction: column;
        align-items: center;
    } .searchbar input[type=submit] {
        width: 50%;
    }
}

/* Mobile S */
@media only screen and (max-width: 320px) {
    
}




