html {
    background-image: url('../images/night-sky.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: black;
}

body, html {
    height: 100vh;
    height: 100svh;
    width: 100vw;
    width: 100svw;
    margin: 0;
    padding: 0;

    touch-action: pinch-zoom; /* Prevents 'focusing' on button on mobile, on iOS */
}

body {
    font-family:"arial", sans-serif;
    background-color: rgb(250, 250, 250);
    overflow-x: hidden;
}

* {
    box-sizing: border-box;

    &[hidden] {
        display: none;
    }
}


button {
    cursor: pointer;

    /* Tried to amend iOS blue colouring */
    color: black;
}

a {
    text-decoration: none;
    color: black;
}


main {
    display: flex;
    height: 100%;
    background-color: rgb(250, 250, 250);
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#THE-BUTTON {
    /* font-size: 14cqw; */
    font-size: 14vw;
    width: 6.6em;
    padding: .5em;
    
    border: 0px solid white;
    border-radius: .3em;
    background-color: white;
    box-shadow: .1em -.1em .2em rgb(117, 117, 117) inset;

    &:hover {
        background-color: rgb(250,250,250);
    }

    &.pressed {
        border: .01px solid lightgrey;
        background-color: rgb(245, 245, 245);
        box-shadow: rgb(117, 117, 117) -10px 10px 7px inset; 

        & > #button-text {
            font-size: 13cqw;
            -webkit-text-fill-color: unset;
        }

        &:hover {
            background-color: rgb(245,245,245);
        }
    }

}

#button-text {
    background: -webkit-linear-gradient(#777777, #000000);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}


#clue {
    font-size: 2rem;
    font-weight: bold;
    position: fixed;
    bottom: 0;
    right: 0;

    background-color: transparent;
    border: none;
    padding: 1rem;

    width: max(5vw, min-content);
    min-width: 4rem;

    &:hover {
        color: grey;
    }
}


#credits {

    padding-inline: 10vw;
    padding-inline: 10svw;

    & h1 {
        color:white;
        font-size: 4rem;
        text-align: center;

        margin-block: 1rem;

        @media only screen and (width < 768px) {
            font-size: 2rem;
        }
        @media only screen and (width < 600) {
            font-size: 1rem;
        }
    }

}


/*! v Experimenting v */
