body {
    background-color: black;
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
}

body::-webkit-scrollbar {
    display: none;
}

.star {
    position: absolute;
    
    /* background-color: white;
    width: 1px;
    height: 1px;
    border-radius: .5px; */
}